---

//import Soyjak from '../bookmarklets/soyjak.jsx'
import Bookmarklet from '../components/Bookmarklet.astro'

//glob bookmarklets folder and create array of names
const bookmarklets = ['soyjak', 'travolta', 'wonka'];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Bookmarklet MEMES</h1>

		<section>
			<h2>Memes on any website</h2>
			<p>React to any site design or content with the best memes from the internet.</p>

		</section>

		<section>
			<h2>How to use</h2>
			<p>Drag the bookmarklet to your bookmarks bar and click it on any website to see the memes.</p>
		</section>
		<section>
			<h2>Bookmarklets</h2>
			<ul>
				<li>
					<Bookmarklet src="soyjak">Soy Jak</Bookmarklet>
				</li>
				<li>
					<Bookmarklet src="Travolta">Travolta WTF</Bookmarklet>
				</li>
				<li>
					<Bookmarklet src="wonka">Condescending Wonka</Bookmarklet>
				</li>
				<li>
					<Bookmarklet src="drakeNo">Drake No</Bookmarklet>
				</li>
		</section>
	</body>
</html>
