---
import { createBookmarklet } from '../lib/maker.js';
import { promises as fs } from 'fs';
import { join } from 'path';

const { src } = Astro.props;

const loadBookmarklet = async () => {
    const filePath = join( process.cwd(), 'src/bookmarklets/', `${src}.js`);
    try {
        const memeContent = await fs.readFile(filePath, 'utf-8');
        const utilityContent = await fs.readFile(join( process.cwd(), 'src/lib/utility.js'), 'utf-8');
        const fileContent = `${memeContent}\n${utilityContent}`;
        // minify the javascript

        return createBookmarklet(fileContent);
    } catch (error) {
        console.error('Error reading bookmarklet file:', error);
        return '';
    }
};

const href = await loadBookmarklet();



---

<a href={href}>
    <slot />
</a>



